
@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&display=swap&subset=latin-ext,vietnamese');

:root {
    --darkBlue: #233A50;
    --textGray: #abb7c4;
    --darkBlue2: #020D18;
    --blue: #4280bf;
    --yellow: #F5B50A;
    --lightYellow: #ffeb3b;
    --red: #DD003F;
    --ligtLigtYellow: #DCF836;

}
body {
    background-color: var(--darkBlue2)!important;
}
/* ------------- link tag ----------- */
a:hover {
    text-decoration: none!important;
}
a.link {
    color: var(--blue);
}
a.link:hover {
    color: var(--ligtLigtYellow);
}
/* ------------custom bootstrap button ---------------- */
.btn {
    padding: 13px 25px;
}
.btn--red {
    background: var(--red);
    color: #ffffff;
}
.btn--yellow {
    background: var(--ligtLigtYellow);
    color: #000000;
}
.btn--text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
}
.btn--red:hover{
    color: var(--lightYellow);
}
.btn--yellow:hover{
    color: var(--blue);
}
/* ------------custom fontawesome icon ---------------- */
.fas--white {
    color: #ffffff;
}
.fas--black {
    color: #000000;
}
.fas--yellow {
    color: var(--yellow);
}
.fas--red {
    color: var(--red);
}
.fas--button {
    border: 1px solid var(--red);
    border-radius: 50%;
    padding: 14px 15px;
    box-sizing: border-box;
    font-size: 16px;
}
.fas--large {
    font-size: 1.5rem;
}
.fas--medium {
    font-size: 1.2rem;
}
.fas--link {
    color: var(--textGray);
}
.fas--link:hover {
    color: var(--blue);
}
/* ===================== */
.wrapper {
    position: relative;
    background: url('../images/hero-bg.jpg') no-repeat;
    background-size: auto;
    height: 600px;background: url('../images/hero-bg.jpg') no-repeat;
    background-size: auto;
    height: 550px;
}
.wrapper--cast {
    background: url('../images/celeb-hero-single.jpg') no-repeat;
    height: 450px;
}
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    cursor: pointer;
}
.header {
    background: url('../images/user-hero-bg.jpg') no-repeat;
    height: 385px;
    padding-top: 20px;
}
.header--movie {
    background: none;
    position: relative;
    z-index: 2;
}
#searchField {
    border: 4px solid #020d18;
    width: 100%;
    display: flex;
}
#searchFieldCast {
    border: 4px solid #020d18;
    width: 100%;
    display: flex;
}
#searchField input {
    background: var(--darkBlue);
    border: none;
    color: var(--textGray);
    font-weight: 300;
    flex-grow: 1;
    padding: 10px 20px;
}
#searchField input::placeholder {
    color: var(--textGray);
}
#searchFieldCast input {
    background: var(--darkBlue);
    border: none;
    color: var(--textGray);
    font-weight: 300;
    flex-grow: 1;
    padding: 10px 20px;
}
#searchFieldCast input::placeholder {
    color: var(--textGray);
}
.button-icon {
    background: var(--darkBlue);
    border: none;
    color: #ffffff;
    font-size: 1.2rem;
    padding-right: 20px;
}

.header__bottom h1{
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 70px;
}

/* ========= topBar=========== */
.topBar {
    border-bottom: 1px solid #405266;
    border-top: 1px solid #405266;
    margin-bottom: 20px;
    display: flex;
}
.topBar__info {
    margin-bottom: 0;
    padding: 5px 0;
    display: inline-block;
}

.topBar__info--border {
    border-left: 1px solid #405266;
    padding-left: 30px;
    margin-left: 30px;
    font-size: 18px;
    text-transform: capitalize;
}
.topBar__highlight {
    color: var(--blue);
}
.topBar nav {
    display: inline-block;
    margin-left: 30px;
}
.topBar nav ul {
    margin-bottom: 0;
}
.topBar nav ul a {
    background: none;
    border: none;
    color: var(--blue);
}
.topBar nav ul a:hover {
    color: var(--lightYellow);
    background: none;
}
.topBar__text {
    margin-bottom: 0;
}
.topBar__review {
    display: flex;
    align-items: center;
    width: 18%;
    justify-content: space-between;
}
.topBar__text--blue {
    color: var(--blue);
}

/* =============== main content ================ */

#main {
    background: var(--darkBlue2);
    color: var(--textGray);
    padding: 75px 0;
    font-family: 'Dosis', sans-serif;
}

.main__wrapper {
    display: flex;
    font-family: 'Dosis', sans-serif;
    padding: 20px 0;
}
.card {
    border: none;
    background: none;
}
.card img {
    border-radius: 5px;
}
.card p {
    margin-bottom: 8px;
}
.card p a {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}
.card p a:hover {
    transition: 0.5s;
    color: var(--lightYellow);
}
.card .card-body {
    padding: 10px 20px 10px 0;
}
.card .car-body--border {
    border: 3px solid #0c1c2c;
    padding: 18px;
}
.score span {
    color: var(--lightYellow);
}

/* ==================== footer ============ */

#footer {
    color: var(--textGray);
    background: url('../images/user-hero-bg.jpg');
    margin-top: 70px;
}
#footer .col-sm-8 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-transform: uppercase;
}
.footer__top {
    padding: 50px 0;
}
.footer__top img {
    margin-bottom: 20px;
}
.footer__bottom {
    background: #020d18;
    border-top: 1px solid #405266;
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 5px;
    opacity: .6;
    width: 100%;
}


/* ===============movie ================ */
/* ===================================== */
.movieNfo {
    margin-top: 95px;
}
.btnIcon {
    font-family: 'Dosis', sans-serif;
    color: var(--red);
    display: inline-block;

}
.btnIcon__text {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
.info-top {
    color: var(--textGray);
}
.info-top__title {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #ffffff;
}
.info-top__role {
    font-size: 18px;
}
.info-top__social a {
    margin-right: 15px;
}
.info-top__title span {
    color: #4f5b68;
    font-weight: 600;
    font-size: 24px;
}
/* ----------------------main------------------ */
#main-movie {
    color: var(--textGray);
    position: relative;
    z-index: 99;
}

/* ------------------ heading ------------ */
.heading {
    font-family: 'Dosis', sans-serif;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #233a50;
    padding: 10px 0;
}
.heading__title{
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}
a.heading__link{
    font-size: 12px;
    
    text-transform: capitalize;
}

/* ----------------- library --------------------- */
.library {
    display: flex;
    padding: 20px 0;
    flex-wrap: wrap;
}
.library__item {
    width: 29%;
    margin-right: 20px;
    border-radius: 5px;
    margin-bottom: 8px;
}

/* -------------------- cast ---------------- */
.castList {
    padding: 20px 0;
}
.cast {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.cast__avatar {
    width: 50px;
    height: 50px;
}
.cast__avatar img {
    border-radius: 5px;
    height: 100%;
}
.cast__character {
    color: var(--textGray);
    flex-grow: 1;
    text-align: end;
}
.cast__character span{
    color: var(--blue);
}
/* ---------------- more nfo -------------- */

.moreNfo {
    font-family: 'Dosis', sans-serif;
}
.moreNfo__title {
    font-size: 14px;
    text-transform: capitalize;
}
.moreNfo__item {
    margin-bottom: 20px;
}

/* -------------------------- reviews ---------------- */

.heading-reviews {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}
.heading-reviews__title {
    font-size: 18px;
    color: var(--textGray);
}
.heading-reviews__movieName {
    font-size: 24px;
    color: var(--blue);
}

.review {
    border-bottom: 1px solid #233a50;
}
.review__reviewer {
    display: flex;
}
.review__avatar img{
    width: 50px;
    height: 50px;
}
.review__title {
    margin-left: 10px;
    font-size: 17px;
    font-weight: 700;
}
.review__title .link {
    text-transform: uppercase;
}
/* =======================================
======================================= */

/* =========== nav tab =============== */

.navTab {
    font-family: 'Dosis', sans-serif;
    margin-top: 70px;
}
.navTab .nav .nav-link {
    padding: 0;
    margin-right: 50px;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--textGray);
}
.navTab .nav .nav-link.active, .navTab .nav .nav-link:hover {
    color: var(--lightYellow);
    border-bottom: 3px solid var(--ligtLigtYellow);
}


/* ---------loading ---------- */
.loading {
    transform: translateX(500px);
}
